<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>317107376894-hrq4e01imd292cvas8d4m4b61ilr4oe6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.317107376894-hrq4e01imd292cvas8d4m4b61ilr4oe6</string>
	<key>API_KEY</key>
	<string>AIzaSyDCNtlcSpz__EAULufQgMpbqGaYER_72KA</string>
	<key>GCM_SENDER_ID</key>
	<string>317107376894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.audioTourBuilder</string>
	<key>PROJECT_ID</key>
	<string>tour-builder-app</string>
	<key>STORAGE_BUCKET</key>
	<string>tour-builder-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317107376894:ios:204b601c89b9e805c48baf</string>
	<key>DATABASE_URL</key>
	<string>https://tour-builder-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>